@namespace Messenjoor.UI.Pages
<h3>گفتگوها</h3>
<ul class="list-group list-group-flush">
    @if (Loading)
    {
        <li class="list-group-item">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            در حال بارگذاری...
        </li>
    }
    else
    {
        @foreach (var chat in Chats)
        {
            <li class="list-group-item @(chat.IsOnline ? " text-success ":" text-body-tertiary ") @(chat.IsSelected ? " bg-primary-subtle " : "")" role='button' @onclick="() => HandleUserClick(chat)">
                <span class="position-absolute top-0 start-0 translate-middle ms-3 p-1 mt-3 border border-light rounded-circle @(chat.IsOnline ? "bg-success bg-opacity-75":"bg-secondary bg-opacity-50")" />
                <span>&thinsp; </span>
                @chat.Name
                @if (chat.HasUnreadMessage)
                {
                    @* <span class="badge text-bg-primary"></span> *@
                    <span class="position-absolute top-0 translate-middle p-2 ms-3 mt-4 border border-light rounded-circle bg-primary bg-opacity-75" />
                }
            </li>
        }
    }
</ul>

@code {
    [Parameter]
    public IEnumerable<UserModel> Chats { get; set; } = Enumerable.Empty<UserModel>();

    [Parameter]
    public bool Loading { get; set; }

    [Parameter]
    public EventCallback<UserModel> OnUserSelected { get; set; }


    private async Task HandleUserClick(UserModel chat)
    {
        await OnUserSelected.InvokeAsync(chat);
    }
}
